/* Add CSS Styling */
.click-me
.no-click-me {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif
}

.click-me {
    background-color: black;
    color: white;
}

.no-click-me {
    background-color: yellow;
}